<template name="grid">
    <nav class="mainGrid gridContainer" role="navigation">
        <div class="containerLeft">
            {{#if tiles 'pro'}}
                {{#each tiles 'pro'}}
                    {{> tileSide}}
                {{/each}}
            {{else}}
                <!-- <div class="loadingIcon icon-spin5 animate-spin"></div> -->
            {{/if}}
        </div>
        <div class="containerRight">
            {{#if tiles 'con'}}
                {{#each tiles 'con'}}
                    {{> tileSide}}
                {{/each}}
            {{else}}
                <!-- <div class="loadingIcon icon-spin5 animate-spin"></div> -->
            {{/if}}
        </div>

        <!-- divider -->
        <div class="divider">
            <div class="pro"><span>PRO</span></div>
            <div class="con"><span>CON</span></div>
        </div>
    </nav>
    {{#unless tiles 'pro'}}
    {{#unless tiles 'con'}}
        <div class="loadingIcon header icon-spin5 animate-spin"></div>
    {{/unless}}
    {{/unless}}
</template>