<template name="grid">
    <nav id="mainGrid" class="mainGrid gridContainer" role="navigation">
        {{#isolate}}
        <div class="containerLeft">
            {{#if checkTiles 'pro'}}
                {{#each tiles 'pro'}}
                    {{> tile}}
                {{/each}}
            {{else}}
                <p>{{translate 'grid.errors.noArticles'}}</p>
            {{/if}}
        </div>
        <div class="containerRight">
            {{#if checkTiles 'con'}}
                {{#each tiles 'con'}}
                    {{> tile}}
                {{/each}}
            {{else}}
                <p>{{translate 'grid.errors.noArticles'}}</p>
            {{/if}}
        </div>
        {{/isolate}}

        <!-- divider -->
        <div class="divider">
            <div class="pro"><span>{{translate 'grid.sides.pro'}}</span></div>
            <div class="con"><span>{{translate 'grid.sides.con'}}</span></div>
        </div>
    </nav>
</template>