<template name="tileSide">
    <div class="tile{{size}} topicType1">
        <div class="front">
            <div class="image"><img src="{{image media.images}}" alt="{{title}}"></div>
            <div class="textBox">
                <a href="{{newsLink this}}" class="title">{{title}}</a>
            </div>
            <a class="cornerButton"></a>
        </div>
        <div class="back">
            <!-- <div class="tileGrid gridContainer">
                <div class="containerLeft">
                    <div class="subTile large"><div></div></div>
                    <div class="subTile large"><div></div></div>
                    <div class="subTile large"><div></div></div>
                    <div class="subTile large"><div></div></div>
                    <div class="subTile large"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                </div>
                <div class="containerRight">
                    <div class="subTile large"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile medium"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                    <div class="subTile small"><div></div></div>
                </div>
            </div> -->
            <div class="textBox">
                <a class="title">{{clusterData.subTopic}}</a>
            </div>
            <a class="cornerButton"></a>
        </div>
    </div>
</template>