<template name="article">
        <div class="dimContainer hidden" onclick="">
            {{#each articleData}}
                {{setTitle}}
                <article class="main" role="main">
                    <button class="close"><span>×</span></button>
                    <!-- IMAGES -->
                    <aside class="left" role="complementary">
                        {{#each media.videos}}
                            <!-- <div class="image"><img src="img/tests/tiles/img3.jpg" alt="title of the article"></div> -->
                            <!-- <div class="imageZoom"><img src="img/tests/tiles/img3.jpg" alt="title of the article"></div> -->
                        {{/each}}
                        {{#each media.images}}
                            <div class="image" data-relatedid="{{generateImageZoomId this}}"><img src="{{this}}" alt="{{../title}}"></div>
                            <!-- <div class="imageZoom" style="background-image: url('{{this}}');"></div> -->
                        {{/each}}
                        <a href="{{subTopicLink this}}" class="subTopic{{topicColor}}"><div>{{clusterData.subTopic}}</div></a>

                        <div class="clearFix"></div>
                    </aside>
                    <div class="imageZooms">
                        {{#each media.images}}
                            <div id="{{generateImageZoomId this}}" class="imageZoom" style="background-image: url('{{this}}');"></div>
                        {{/each}}
                    </div>
                    <!-- ARTICLE -->
                    <div class="middle">
                        <div class="content">
                            {{#isolate}}
                            <ul class="articleMenu">
                                <li><button class="close"><span>×</span></button></li>
                                <li><button class="addToReadingList{{isOnReadingList _id}} icon-glasses"></button></li>
                                <li><button class="importantButton{{isImportant _id}}">!mportant ({{clusterData.importance}})</button></li>
                            </ul>
                            {{/isolate}}
                            <header>
                                <h1>{{placeContent title}}</h1>
                                <p class="metaData">
                                    {{#if metaData.pubDate}}<time datetime="{{datetimePubDate metaData.pubDate}}" title="{{absolutePubDate metaData.pubDate}}">{{relativePubDate metaData.pubDate}}</time>{{/if}}
                                    {{#if metaData.author}} {{translate 'article.author'}} {{authorText}}{{#if metaData.author.url}}<a href="{{metaData.author.url}}" target="_blank">{{/if}}{{placeAuthor metaData.author.name}}{{#if metaData.author.url}}</a>{{/if}}{{/if}}
                                    {{#if metaData.source}} {{translate 'article.source'}} {{sourceText}}{{#if metaData.source.url}}<a href="{{metaData.source.url}}" target="_blank">{{/if}}{{metaData.source.id}}{{#if metaData.source.url}}</a>{{/if}}{{/if}}
                                </p>
                            </header>
                            <section>
                                <p>{{placeContent abstract}}</p>
                            </section>
                            <section>
                                <p>{{placeContent content}}</p>
                            </section>
                        </div>
                    </div>
                    <a href="{{metaData.source.url}}" class="articleLink" target="_blank">{{translate 'article.readOn'}} {{metaData.source.id}} <i class="icon-angle-right"></i></a>
                    <!-- COMMENTS -->
                    <aside class="right">
                        <h1 class="title"><span class="rotated">{{translate 'article.comments'}}</span> <i class="icon-comment-empty"></i> <span class="count">142</span></h1>
                        some comments
                    </aside>
                </article>
            {{/each}}

            <div class="loadingIcon icon-spin5 animate-spin"></div>
        </div>
</template>