<template name="footer">
    <footer class="main" role="contentinfo">
            <div class="arrowBottom"></div>
            <nav>
                <ul>
                    <li>
                        <h1><i class="icon-sun-inv"></i> Social</h1>
                        <ul>
                            <li><a href="/blog" target="_blank"><i class="icon-quote"></i> blog</a></li>
                            <li><a href="http://facebook.com/morphicnews" target="_blank"><i class="icon-facebook-rect"></i> facebook</a></li>
                            <li><a href="http://twitter.com/morphicnews" target="_blank"><i class="icon-twitter-bird"></i> twitter</a></li>
                        </ul>
                    </li>
                    <li>
                        <h1><i class="icon-hammer"></i> Legal</h1>
                        <ul>
                            <li><a href="">Terms of Service</a></li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <a href="/about" class="logo">
                <img src="img/icons/morphicnews_logo.png" alt="">
                <p role="about">morphic news is a news robot, which try to give you an overview about what's up in the world.</p>
            </a>
            <div style="clear:both;"></div>
            <div class="pixelWidth"></div>
    </footer>
</template>