<template name="footer">
    <footer class="main" role="contentinfo">
            <div class="arrowBottom"></div>
            <nav>
                <ul>
                    <li>
                        <h1><i class="icon-sun-inv"></i> {{translate 'footer.social'}}</h1>
                        <ul>
                            <!-- <li><a href="/blog" target="_blank"><i class="icon-quote"></i> blog</a></li> -->
                            <li><a href="http://facebook.com/inews" target="_blank" onclick="return false;"><i class="icon-facebook-rect"></i> facebook</a></li>
                            <li><a href="http://twitter.com/inews" target="_blank" onclick="return false;"><i class="icon-twitter-bird"></i> twitter</a></li>
                        </ul>
                    </li>
                    <li>
                        <h1><i class="icon-hammer"></i> {{translate 'footer.legal'}}</h1>
                        <ul>
                            <li><a href="/terms">{{translate 'footer.terms'}}</a></li>
                            <li><a href="/privacy">{{translate 'footer.privacy'}}</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <a href="/about" class="logo">
                <img src="img/icons/morphicnews_logo.png" alt="">
                <p role="/about">{{translate 'footer.about'}}</p>
            </a>
            <div style="clear:both;"></div>
    </footer>
</template>