<template name="header">
    <header class="main" role="banner">
        <div class="buttonGroup">
            <button class="bookmarkButton icon-bookmark"></button>
            <button class="viewButton icon-th"></button>
        </div>
        <div class="pathMenu">
            <nav role="navigation">
                <i class="icon-search"></i>
                <ul>
                    <li class="topicType1"><a href=""><span>Politics</span></a></li>
                    <li class="topicType2"><a href=""><span>World</span></a></li>
                    <li class="topicType3"><a href=""><span>War</span></a></li>
                    <li class="topicType4"><a href=""><span>Syria</span></a></li>
                    <li class="topicType5"><input type="text"><button class="cancel hidden"><span>×</span></button></li>
                </ul>
            </nav>
        </div>

        <div class="arrowTop"></div>
    </header>
</template>