<template name="header">
    <header class="main{{slideDown}}{{slideRight}}" role="banner">
        <div class="buttonGroup left">
            <button class="sidebarButton icon-right{{sidebarButtonActive}}"></button>
            <button class="viewButton icon-th{{viewButtonActive}}"></button>
            <button class="homeButton icon-home"></button>
        </div>
        <form class="search">
            <!-- <form> -->
                <label class="icon-search">
                    <input id="search" type="text" value="{{currentNewsPath}}">
                </label>
            <!-- </form> -->
        </form>
        <div class="buttonGroup right">
            <button class="icon-cw" id="reloadButton"></button>
        </div>
    
        <div class="arrowTop"></div>
        {{> loadingIcon}}
    </header>
</template>