<template name="leftSidebar">
    <aside class="leftSidebar">
        <div class="scrollWrapper">
            <!-- <h1>User Account</h1>
            <ul>
                <li></li>
            </ul> -->
            <h1><i class="icon-bookmark"></i>{{translate 'leftSidebar.titles.bookmarks'}}</h1>
            <ul>
                <li><a href="" class="add"><i class="icon-plus"></i> Add Bookmark</a></li>
                <li><a href=""><span class="topic topicType3"></span>Syria</a></li>
                <li><a href=""><span class="topic topicType4"></span>Bitcoinshduemdjfds</a></li>
                <li><a href=""><span class="topic topicType2"></span>Leistungsschutzrecht</a></li>
                <li><a href=""><span class="topic topicType2"></span>Japan</a></li>
                <li><a href=""><span class="topic topicType3"></span>Syria</a></li>
                <li><a href=""><span class="topic topicType4"></span>Bitcoinshduemdjfds</a></li>
                <li><a href=""><span class="topic topicType2"></span>Leistungsschutzrecht</a></li>
                <li><a href=""><span class="topic topicType2"></span>Japan</a></li>
            </ul>
        </div>
    </aside>
</template>