<template name="leftSidebar">
    <aside class="leftSidebar">
        <div class="scrollWrapper">
            <!-- <h1>User Account</h1>
            <ul>
                <li></li>
            </ul> -->
            <h1><i class="icon-bookmark"></i>{{translate 'leftSidebar.titles.bookmarks'}}</h1>
            <ul>
                <li><a href="#" class="add" id="addBookmarkButton"><i class="icon-plus"></i> {{translate 'leftSidebar.actions.addBookmark'}}</a></li>
                {{#each bookmarks}}
                <li><a href="{{link}}"><span class="topic topicType1"></span>{{text}}</a></li>
                {{/each}}
            </ul>
        </div>
    </aside>
</template>